@inject NavigationManager Navigation
@inject IConfiguration Configuration

<AuthorizeView>
    <Authorized>
        <span class="login-display text-white-50 small me-2">@context.User.Identity?.Name</span>
        @if (!IsDemoMode)
        {
            <button class="btn btn-sm btn-outline-light" @onclick="SignOut">Sign out</button>
        }
    </Authorized>
    <NotAuthorized>
        <a href="MicrosoftIdentity/Account/SignIn" class="btn btn-sm btn-outline-light">Sign in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private bool IsDemoMode => Configuration.GetValue<bool>("Demo:Enabled");

    private void SignOut() =>
        Navigation.NavigateTo("MicrosoftIdentity/Account/SignOut", forceLoad: true);
}
